<div class="auth">
    <form class="pane pane-nopad">
        <div class="auth__top">
            <h2 class="auth__title">Login</h2>
            <div class="form-group">
                <input type="text" class="form-input form-input_block" name="login" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-input form-input_block" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-thin btn-inverse auth__submit">GO !</button>
            </div>
        </div>
        <div class="auth__bottom bottom">
            <a class="btn btn-link">Create an Account</a>
            <hr>
            <a class="bottom__link">about</a>|<a class="bottom__link">contact</a>
        </div>
    </form>
</div>